body{
    margin: 0;
    border: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(49, 49, 49);
}

#form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-top: -100px;
}

#campos-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;

}

label{
    margin-top: 10px;
    font-size: 20pt;
    font-weight: bold;
    text-align: left;
    color: #0888ff;
}

input{
    width: 100%;
    height: 30px;
    font-size: 15pt;
    border-radius: 10px;
}
input:focus{
    border: none;
    outline: none;
}

#button-login{
    width: 50%;
    height: 50px;
    font-size: 18pt;
    font-weight: bold;
    color: white;
    background-color: #0476e0;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
#button-login:hover{
    background-color: #004e96;
    border: solid 1px white;
    box-shadow: 0 0 8px white;
    transition: box-shadow 0.3s ease;
}