{% extends 'Home/modelo.html' %}
{% load static %}

{% block conexao %}
<link rel="stylesheet" href="{% static 'Configuracoes/css/style_config.css' %}">
<link rel="stylesheet" href="{% static 'Configuracoes/css/style-config_gerenciar_servicos.css' %}">
{% endblock%}

{% block title %}
<title>Configurações | Manage Flow</title>
{% endblock %}


{% block area-visualizacao %}
<div id="area-title">
    <h2 id="title-configuracoes" class="title">Configurações</h2>
    <hr id="linha-title_configuracoes" class="linha-title">
</div>

<div id="area-configuracoes">
    <div id="area-btns_config">
        <button type="button" id="btn-config_servico" class="btn-config" 
            data-url="{% url 'gerenciar_servicos' %}">Gerenciar Serviços</button>

        <button type="button" id="btn-config_locais" class="btn-config" 
            data-url="{% url 'gerenciar_locais' %}">Locais</button>

        <button type="button" id="btn-config_senhas" class="btn-config" 
            data-url="{% url 'gerenciar_senhas' %}">Senhas</button>
    </div>


    <div id="area-config_opcoes">
        {% include "Configuracoes/configuracoes-gerenciar_servicos.html" %}
    </div>
    
</div>
{% endblock %}


{% block conexao_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/mecanismos_config.js' %}"></script>
{% endblock %}
