#area-configuracoes{
    width: 100%;
    height: 105%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

#area-btns_config{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin-top: 20px;

}
.btn-config{
    flex: 1 0 100px;
    color: white;
    background-color: #002430;
    border: 0.5px solid white;
}
.btn-config:hover{
    transform: scale(1.05);
    background-color: #00C3FF;
    box-shadow: 0px 0px 20px #00c3ff;
}
#area-config_opcoes{
    width: 81%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* =======================Form Cad Serviço ========================== */
#form-cad_servico{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    margin-top: 10px;

}
#area-campos_cad_servicos{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
}
.area-campos_form{
    display: flex;
    flex-direction: column;
}
#area-campo_cad_servico_sigla{
    width: 60px;
}
#area-campo_cad_servico_nome{
    flex: 1 0 140px;

}
.label-cad_servicos{
    color: white;
    font-weight: bold;
    margin-bottom: 2px;
}
#input-cad_servico_sigla{
    text-transform: uppercase;
    text-align: center;
}

#btn-cad_servico{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20pt;
    font-weight: bold;
    color: white;
    background-color: #00c3ff;
    border: none;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-cad_servico:hover{
    color: #00c3ff;
    background-color: white;
    border: 2px solid #00c3ff;
    box-shadow: 1px 1px 20px #00c3ff;
}


/* ==================FORM COM REGISTROS===================== */

table{
    width: 100%;
    border-collapse: collapse;
}
tr{
    color: white;
    background-color: #00C3FF;
}
th{
    border-top: 1px solid #002E3D;
    border-inline: 1px solid #002E3D;
    border-bottom: 3px solid #002E3D;
    padding-block: 5px;
    font-size: 13pt;

}
tbody tr:nth-child(odd) {
    background-color: #002E3D;
}
tbody tr:nth-child(odd):hover{
    transform: scale(1.01);
    border: 1px solid #00e1ff;
    box-shadow: 0px 4px 10px black;
}
tbody tr:nth-child(even) {
    background-color: #217d99;
}
tbody tr:nth-child(even):hover{
    transform: scale(1.01);
    border: 1px solid #00e1ff;
    box-shadow: 0px 4px 10px black;
}
td{
    color: white;
    padding-block: 5px;
}

.input_form{
    background-color: transparent;
    border: none;
    color: white;
}
select{
    background-color: transparent;
    width: 100%;
    color: white;
    opacity: 1;
    border: none;
}
.status-ativo {
    color: rgb(0, 255, 0);
    font-weight: bold;
    text-align: center;
}

.status-inativo {
    color: red;
    font-weight: bold;
    text-align: center;
}

.btn-edit{
    background-color: transparent;
    border: none;
}
